################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/razorcore/RazorPagesMovie/bin/Debug/net5.0
/razorcore/RazorPagesMovie/obj
/MegaDeskSite/MegaDeskSite/.vs/MegaDeskSite/FileContentIndex
/MVC/MvcMovie/bin/Debug/net7.0
/MVC/MvcMovie/Migrations
/MVC/MvcMovie/obj
/MVC/MvcMovie/wwwroot/lib
/lassiguniversity/.vs
/lassiguniversity/LassigUniversity/bin/Debug/net5.0
/lassiguniversity/LassigUniversity/obj
/Notes/Notes/Notes/bin/Debug/netstandard2.0
/Notes/Notes/Notes/obj
/Notes/Notes/.vs/Notes
/Notes/Notes/Notes.Android/bin/Debug
/Notes/Notes/Notes.Android/obj
/Notes/Notes/Notes.iOS/bin/iPhone/Debug
/Notes/Notes/Notes.iOS/obj
