@model IEnumerable<LassigUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<div class="center-div">

<h2 class="div-margin">Student Body Statistics</h2>
<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
</div>


<div class="center-div">
    <div class="div-margin">

<h2>Dean of the University</h2>
<div>
    <img src="~/images/julia.jpg" class="=center-img" alt="Dean of School"/>
    <h3>Julia Lassig</h3>
    <p>Email me at: julia.lassig@LassigUniversity.com</p>
</div>
</div>
</div>