@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="centerme">Lassig University Enrollment Application</h1>
</div>

<div class="center-div">
    <h2>
        Manage students, courses, instructors, and departments.
    </h2>
    <div>
        <img src="~/images/university.jpg" alt="Lassig University Building" />
    </div>
 </div>   