@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="centerme">We take your privacy very seriously. We will not give your information to any 3rd parties without your prior and written consent. You can trust us because we are an esteemed University.</p>
